.support {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 4rem 1rem;
  background: #e6edf1;
  transition: background 0.3s, color 0.3s;
}

.support h2 {
  text-align: center;
}

.support p {
  max-width: 400px;
  text-align: center;
}

.supportGITHUB {
  background: #000;
}

.supportKOFI {
  background: #ff5e5b;
  margin: 0.6em 0;
}

.supportTWITTER {
  background: #00aeff;
}

.supportGITHUB,
.supportKOFI,
.supportTWITTER {
  max-width: 220px;
  width: 100%;
  text-align: center;
  padding: 0.6em 1.8em !important;
  font-weight: 700;
  border-radius: 6px;
  color: white;
  cursor: pointer;
}

.supportGITHUB:hover,
.supportKOFI:hover,
.supportTWITTER:hover {
  text-decoration: none;
  color: white;
}

html[data-theme='dark'] .support {
    background: #252930;
    color: white;
}